<% JSON.parse(@question.value, {:symbolize_names => true}).each.with_index(1) do |v, i| %>
<div class="field">
<div class="ui checkbox">
  <input<% if @answer.text.try(:'include?', v[:value]) %> checked<% end %> name="text[]" type="checkbox" value="<%= v[:value] %>" id="q<%= i %>">
  <label for="q<%= i %>"><%= v[:text] %></label>
</div>
</div>
<% end %>
