<div class="ui icon positive massive message">
  <i class="checkmark icon"></i>
  <div class="content">
    <div class="header">
      アンケート回答終了
    </div>
    <p>
      ご協力ありがとうございます！<br>
      お疲れ様でした！
    </p>
  </div>
</div>
