<div class="ui icon negative massive message">
  <i class="warning circle icon"></i>
  <div class="content">
    <div class="header">
      404 page not found
    </div>
    <p>
      お探しのページはありません。
    </p>
  </div>
</div>
