<div class="ui icon negative massive message">
  <i class="warning circle icon"></i>
  <div class="content">
    <div class="header">
      500 error
    </div>
    <p>
      エラーが発生しました。
    </p>
  </div>
</div>
